body {
    background-color: black;
    width: 1440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto ;
    
}

.wrapper {
    margin-top: 100px;
    border-radius: 32px;
    width: 478px;
    height: 134px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
    padding-left: 10px;
    padding-right: 10px;
}

#text {
    color: white;
    font-family: "Inter";
    font-size: 72px;
    font-weight: 500;
    line-height: 87px;
    letter-spacing: 0%;
    text-align: center;
}

#plyus {
    background-color: greenyellow;
    color: black;
    font-size: xx-large;
    width: 80px;
    height: 80px;
    border: none;
}

#minus {
    background-color: red;
    color: black;
    font-size: xx-large;
    width: 80px;
    height: 80px;
    border: none;
}

#input {
    width: 331px;
    height: 51px;
    box-sizing: border-box;
    border: 3px solid rgb(42, 42, 42);
    border-radius: 30px;
    background: rgb(217, 217, 217);
    padding: 14px 119px 13px 28px;
    margin-top: 200px;
}

#send {
    width: 112px;
    height: 51px;
    box-sizing: border-box;
    border-radius: 30px;
    background: rgb(42, 42, 42);
}
#car{
    color: white;
    background-color: white;
     margin-top: 35px;
}